@use "../../styles/tokens/breakpoints" as *;

.badge {
  display: inline-block;
  padding: var(--spacing-3xs) var(--spacing-2xs);
  border-radius: 12px;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-body-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-body);
  color: var(--color-on-neutral);
  white-space: nowrap;

  &[data-variant="neutral"] {
    background-color: var(--color-surface-high);
  }

  &[data-variant="positive"] {
    background-color: var(--color-surface-positive);
  }

  &[data-variant="negative"] {
    background-color: var(--color-surface-negative);
  }

  @include mobile {
    padding: var(--spacing-4xs) var(--spacing-3xs);
    border-radius: 8px;
  }
}
